@media (max-width: 765px) {
    .projects__content {
        flex-direction: column;
    }

    .projects__content .project {
        width: 100%;
    }
}

.project {
    width: 45%;
    height: 470px;
    overflow: hidden;
    position: relative;
}

.project__img {
    background-size: cover;
    border-radius: 10px;
    /* display: flex; */
    align-items: self-end;
    background-repeat: no-repeat;
    width: 100%;
    height: 81%;
    background-position: top;
    transition: all .5s;
}

.project:hover .project__img {
    transform: scale(1.2);
}

.project__title {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
    transition: all .5s;
}

.project:hover .project__title {
    transform: translateY(50%);
    transition: all .5s;
}

.project__head {
    width: 100%;
    flex-wrap: wrap;
}

.projects__content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    flex-wrap: wrap;
}

.svg-inline--fa {
    transform: rotate(320deg);
}

.projects-info {
    margin-bottom: 2.5em;
}

